<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- Servlets ====================================================== -->
	<!-- Main Website Servlets -->
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.UBC417.A2.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectSeat</servlet-name>
		<servlet-class>com.UBC417.A2.SelectSeatServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReserveSeat</servlet-name>
		<servlet-class>com.UBC417.A2.ReserveSeatServlet</servlet-class>
	</servlet>
	
	<!-- Helper Servlets -->
	<servlet>
		<servlet-name>FreeSeats</servlet-name>
		<servlet-class>com.UBC417.A2.Helpers.FreeSeats</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteAll</servlet-name>
		<servlet-class>com.UBC417.A2.Helpers.DeleteAll</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Prep</servlet-name>
		<servlet-class>com.UBC417.A2.Helpers.PrepServlet</servlet-class>
	</servlet>
		
	<servlet>
		<servlet-name>Worker</servlet-name>
		<servlet-class>com.UBC417.A2.WorkerServlet</servlet-class>
	</servlet>

	<!-- Mappings ================================================================-->
	<!-- Main Website Mappings -->
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectSeat</servlet-name>
		<url-pattern>/SelectSeat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReserveSeat</servlet-name>
		<url-pattern>/ReserveSeat</url-pattern>
	</servlet-mapping>
	
	<!-- Helper Mappings -->
	<servlet-mapping>
		<servlet-name>Prep</servlet-name>
		<url-pattern>/Prep</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAll</servlet-name>
		<url-pattern>/DeleteAll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FreeSeats</servlet-name>
		<url-pattern>/FreeSeats</url-pattern>
	</servlet-mapping>
		
	<!-- Worker Mapping -->
	<servlet-mapping>
		<servlet-name>Worker</servlet-name>
		<url-pattern>/worker</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>Home</welcome-file>
	</welcome-file-list>
	
	
	<!-- cloud cover -->
	 <servlet>
        <servlet-name>
            com.google.appengine.testing.cloudcover.CloudCover CloudCoverService
        </servlet-name>
        <servlet-class>
            com.google.appengine.testing.cloudcover.server.CloudCoverServiceImpl
        </servlet-class>
        <init-param>
            <param-name>cloudcover.config.class</param-name>
            <param-value>com.UBC417.A2.Testing.ParallelTestRunnerConfig</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>
            com.google.appengine.testing.cloudcover.CloudCover CloudCoverService
        </servlet-name>
        <url-pattern>/com.google.appengine.testing.cloudcover.CloudCover/cloudcover</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>
            com.google.appengine.testing.cloudcover.CloudCover CloudCoverService
        </servlet-name>
        <url-pattern>/cloudcover/queueAction/*</url-pattern>
    </servlet-mapping>
	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>